[project]
	description = Simple Asynchronous TCP server.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Uilian Ries (uilianries)
[access "refs/for/refs/*"]
	read = group user/Uilian Ries (uilianries)
	push = group user/Uilian Ries (uilianries)
	label-Code-Review = -2..+2 group user/Uilian Ries (uilianries)
	label-Verified = -1..+1 group user/Uilian Ries (uilianries)
	rebase = group user/Uilian Ries (uilianries)
	removeReviewer = group user/Uilian Ries (uilianries)
	submit = group user/Uilian Ries (uilianries)
[access "refs/heads/*"]
	read = group user/Uilian Ries (uilianries)
	create = group user/Uilian Ries (uilianries)
	push = +force group user/Uilian Ries (uilianries)
	pushMerge = group user/Uilian Ries (uilianries)
[access "refs/tags/*"]
	push = +force group user/Uilian Ries (uilianries)
	pushTag = group user/Uilian Ries (uilianries)
	pushSignedTag = group user/Uilian Ries (uilianries)
